*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: system-ui, Arial;
}

body{
  background:#ffd6ec; /* color princesa */
  color:#4a2a3a;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.slider{
  flex:1;
  width:100%;
  height:100%;
  position:relative;
  overflow:hidden;
}

.slide{
  position:absolute;
  inset:0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:40px 20px;
  opacity:0;
  transform:translateX(30px);
  transition:.35s ease;
}

.slide.active{
  opacity:1;
  transform:translateX(0);
}

h1{
  font-size:60px;
  margin-bottom:10px;
}

h2{
  font-size:32px;
  margin-bottom:10px;
}

p{
  font-size:18px;
  margin:6px 0;
}

.name{
  font-size:42px;
  font-weight:bold;
  margin:10px 0;
}

.desc{
  opacity:.8;
}

.nav{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:30px;
  padding:20px;
}

button{
  border:none;
  background:#ff4fa0;
  color:white;
  font-size:22px;
  width:50px;
  height:50px;
  border-radius:50%;
  cursor:pointer;
}

button:active{
  transform:scale(.95);
}

.btn{
  margin-top:20px;
  display:inline-block;
  padding:14px 22px;
  background:#ff4fa0;
  color:white;
  text-decoration:none;
  border-radius:30px;
  font-weight:bold;
}